# GitHub Actions Workflow definition for validating Pull Requests

name: pr-build

on: [pull_request]

jobs:
  app:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Setup Go
        uses: actions/setup-go@v5.5.0
        with:
          go-version-file: 'go.mod'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --snapshot --skip=publish --clean

  docs:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.84.0'
          extended: true

      - name: Build root docs with Hugo
        run: hugo --minify --source docs/root
      - name: Build current-version docs with Hugo
        run: hugo --minify --source docs/current-version
