# GitHub Actions Workflow definition for validating Pull Requests

name: pr-build

on: [pull_request]

jobs:
  app:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Setup Go
        uses: actions/setup-go@v4.1.0
        with:
          go-version-file: 'go.mod'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5.0.0
        with:
          version: v1.10.2
          args: release --snapshot --skip-publish --rm-dist

  docs:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.84.0'
          extended: true

      - name: Build root docs with Hugo
        run: hugo --minify --source docs/root
      - name: Build current-version docs with Hugo
        run: hugo --minify --source docs/current-version
