# GitHub Actions Workflow definition to automatically create a new release for each new Git tag

name: release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Unshallow
        run: git fetch --prune --unshallow
      - id: tag
        run: echo ::set-output name=TAG::${GITHUB_REF##*/}

      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DM_BOT_TOKEN }}

      - name: Generate Changelog
        uses: docker://quay.io/git-chglog/git-chglog:0.14.2
        with:
          args: -o .chglog/CHANGELOG.md ${{ steps.tag.outputs.TAG }}

      - uses: actions/setup-go@v2.1.4
        with:
          go-version: '1.16'
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2.8.0
        with:
          version: v0.171.0
          args: release --rm-dist --release-notes .chglog/CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: chrisdickinson/setup-yq@v1.0.1
        with:
          yq-version: v4.9.6
      - name: update docs with the right version
        run: docs/set-next-version.sh
        env:
          VERSION: ${{ steps.tag.outputs.TAG }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.84.0'
          extended: true
      - name: Build root docs with Hugo
        run: hugo --minify --source docs/root
      - name: Build current-version docs with Hugo
        run: hugo --minify --source docs/current-version
      - name: Package generated docs
        run: docs/package-docs.sh
        env:
          VERSION: ${{ steps.tag.outputs.TAG }}
      - name: Publish generated docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist/docs
          keep_files: true
