# GitHub Actions Workflow definition to automatically create a new release for each new Git tag

name: release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Setup Go
        uses: actions/setup-go@v2.1.2
        with:
          go-version: '1.14'

      - name: Docker Login
        uses: azure/docker-login@v1
        with:
          username: dmcontinous
          password: ${{ secrets.DOCKERHUB_DMCONTINOUS_PASSWORD }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2.1.1
        with:
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
