# GitHub Actions Workflow definition for running linters

name: static-analysis

on: [pull_request]

jobs:
  linters:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Run linters
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.46.2
