# GitHub Actions Workflow definition to automatically create a new Git tag on each push to master

name: tag

on:
  push:
    branches:
      - master

jobs:
  tag:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.DM_BOT_TOKEN }}
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      - uses: fregante/setup-git-user@v1

      - name: tag
        uses: jenkins-x-plugins/jx-release-version@v2.5.1
        with:
          tag: true
          github-token: ${{ secrets.DM_BOT_TOKEN }}
